@use '@/sass' as *;

.password-validator {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-md;
    font-size: $font-size-validator-input;
  }

  &-input {
    width: 100%;
    box-sizing: border-box;
    padding: $padding-input;
    border: $border-width-validator-input solid $color-validator-input-border;
    border-radius: $border-radius-validator-input;
    font-family: inherit;
    font-size: inherit;

    &:focus {
      outline: none;
      border-color: $color-validator-input-border-focus;
      transition: border-color $transition-duration ease;
    }
  }

  &-list {
    font-family: $font-family;
    font-size: $font-size-validator-indicator;
    padding-left: 0;
    margin: 0;

    &-item {
      list-style-type: none;

      &-message {
        padding-left: $padding-left-list-item;
      }
    }
  }
}

.is-valid {
  color: $color-validator-indicator-valid;
}

.is-invalid {
  color: $color-validator-indicator-invalid;
}

@media screen and (min-width: $breakpoint-tablet) {
  .password-validator {
    &-container {
      align-items: start;
    }

    &-input {
      max-width: $input-width-tablet;
    }
  }
}
