@use '@/sass' as *;
@use '@/styles';

$input-width: 300px;

.password-validator {
  &-container {
    display: flex;
    flex-direction: column;
    gap: $gap-normal;
    font-size: var(--password-validator-font-size);
    max-width: 100%;
  }

  &-input {
    display: flex;
    width: 100%;

    input {
      width: 100%;
      padding: $padding-h3-v7;
      border: $border-width solid var(--password-validator-input-border);
      border-radius: var(--password-validator-input-border-radius);
      font-family: inherit;
      font-size: inherit;

      &:focus {
        outline: none;
        border-color: var(--password-validator-input-border-focus);
        transition: border-color $transition-duration ease;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    font-family: var(--password-validator-indicator-font-family);
    font-size: var(--password-validator-indicator-font-size);

    &-item {
      display: flex;
      align-items: center;
      gap: $gap-sm;
      padding: var(--password-validator-indicator-padding);

      &.is-valid {
        color: var(--password-validator-indicator-valid-color);
      }

      &.is-invalid {
        color: var(--password-validator-indicator-invalid-color);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .password-validator {
    &-container {
      flex-direction: row;
      align-items: center;
    }

    &-input {
      flex: 0 0 $input-width; // Fixed width for input on larger screens
    }

    &-indicators {
      flex: 1;
    }
  }
}
