@use '@/sass' as *;

$input-width: 300px;

.password-validator {
  &-container {
    display: flex;
    flex-direction: column;
    gap: $gap-normal;
    font-size: $font-size-validator-input;
    max-width: 100%;
  }

  &-input {
    display: flex;
    width: 100%;

    input {
      width: 100%;
      padding: $padding-h3-v7;
      border: $border-width-validator-input solid $color-validator-input-border;
      border-radius: $border-radius-validator-input;
      font-family: inherit;
      font-size: inherit;

      &:focus {
        outline: none;
        border-color: $color-validator-input-border-focus;
        transition: border-color $transition-duration ease;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    font-family: $font-family;
    font-size: $font-size-validator-indicator;

    &-item {
      display: flex;
      align-items: center;
      gap: $gap-sm;
      padding: $padding-h0-v5;

      &.is-valid {
        color: $color-validator-indicator-valid;
      }

      &.is-invalid {
        color: $color-validator-indicator-invalid;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .password-validator {
    &-container {
      flex-direction: row;
      align-items: center;
    }

    &-input {
      flex: 0 0 $input-width; // Fixed width for input on larger screens
    }

    &-indicators {
      flex: 1;
    }
  }
}
