// Sass variables for internal use

// Gaps
$gap-normal: 1rem;
$gap-sm: 0.5rem;

// Paddings
$padding-h3-v7: 0.3rem 0.7rem;

// Breakpoints
$breakpoint-tablet: 768px;
$input-width: 300px;

// Border
$border-width: 1px;

// Transition
$transition-duration: 0.3s;

// ===============================
// CSS variables for user customization
:root {
  // Password Validator Input Variables
  --password-validator-input-font-size: 1rem;
  --password-validator-input-border: #e0e0e0;
  --password-validator-input-border-focus: #1677ff;
  --password-validator-input-border-radius: 6px;

  // Password Validator Indicator Variables
  --password-validator-indicator-font-family: system-ui, -apple-system, sans-serif;
  --password-validator-indicator-font-size: 0.75rem;
  --password-validator-indicator-padding: 0rem 0.5rem;
}
